<div class="post" style="padding-left:150px;padding-top:50px;">
<section class="card">
  <p class="card-title" style="padding-top: 10px;">
    <%= link_to user_path(current_user.id), style: "color:black;" do %>
      <%= image_tag @post_image.user.profile_image, width: 50, height: 50, style: "border-radius: 50%;" %>
      <%= @post_image.user.name %>
    <% end %>
  </p>
  <img class="card-img">
    <%= link_to post_image_path(@post_image.id) do %>
      <%= image_tag @post_image.image, width: 300, height: 200 %>
    <% end %>
    <div class="card-content">
      <% if @post_image.favorited_by?(current_user) %>
      <p>
        <%= link_to post_image_favorites_path(@post_image), data: { turbo_method: :delete } do %>
          <span style="color: black;">♥<%= @post_image.favorites.count %></span>
        <% end %>
      </p>
      <% else %>
      <p>
        <%= link_to post_image_favorites_path(@post_image),data: { turbo_method: :post } do %>
          <span style="color: black;">♡<%= @post_image.favorites.count %></span>
        <% end %>
      </p>
      <% end %>
      <p class="card-text">
        <p style="font-size:25px;"><%= @post_image.shop_name %></p>
        <p><%= @post_image.caption %></p>
        <p><%= @post_image.created_at.strftime('%Y/%m/%d') %></p>
        <% if @post_image.user == current_user %>
          <%= link_to "削除", post_image_path(@post_image), data: { turbo_method: :delete },style: "color:black;" %>
        <% end %>
      </p>
    </div>
</section>
<div style="margin-top:50px;margin-left:50px;">
  <p style="margin-bottom:30px;font-size:30px;">コメント一覧（<%= @post_image.post_comments.count %>件）</p>
    <% @post_image.post_comments.each do |post_comment| %>
      <div class="balloon1" style="color:black;">
        <div class="icon">
        <%= link_to user_path(current_user.id), style: "color:black;" do %>
          <%= image_tag post_comment.user.profile_image, width: 50, height: 50, style: "border-radius: 50%;" %>
          <%= post_comment.user.name %>
        <% end %>
        <span style="margin-left:30px;">
          <%= post_comment.comment %>
        </span>
        <% if post_comment.user == current_user %>
          <%= link_to "削除", post_image_post_comment_path(post_comment.post_image, post_comment), data: { turbo_method: :delete }, style: "color:red;" %>
        <% end %>
        <span style="margin-left:30px;">
          <%= post_comment.created_at.strftime('%Y/%m/%d') %>
        </span>
        </div>
      </div>
    <% end %>
    <div style="margin-top:80px;">
      <%= form_with model: [@post_image, @post_comment] do |f| %>
        <%= f.text_area :comment, rows: '5', placeholder: "コメントをここに" ,style: "background-color:#fff; width:300px;"%>
        <%= f.submit "送信する" %>
      <% end %>
    </div>
</div>
</div>